/*Global*/
* {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 32px;
}

/*borders*/
header {
  border: 1px solid red;
}
.mission {
  border: 1px solid red;
}
.monthly {
  border: 1px solid red;
}
.location {
  border: 1px solid red;
}
.location h2 {
  border: 3px dotted blue;
}
.location_box {
  border: 3px solid blue;
}

/*header*/
header {
  display: flex;
  justify-content: space-between;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0px;
}
.logo {
  padding-left: 10px;
  padding-top: 10px;
}
nav {
  display: flex;
  align-items: center;
}
nav span a {
  padding: 0 20px;
}

/*Mission*/
.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 70px;
  height: 700px;
  width: 1200px;
  overflow: hidden;
}
.mission_img {
  position:absolute;
  z-index: 1;
}
.mission_text {
  text-align: center;
  vertical-align: center;
  z-index: 1;
  background-color: black;
  position: relative;
  top:300px;
  width: 100%;
  height: auto;
}
.mission_text h2 {
  margin-top: 10px;
}
.mission_text h4 {
  margin-bottom: 10px
}

/*Monthly*/
.monthly {
  display: flex;
  position: relative;
  top:140px;
  flex-direction: column;
  width: 1000px;
}
.monthly_img {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
}
.tea_img {
  margin: 0 15px;
}
.tea_text h4 {
  margin: 10px 0px 20px 0px;
}

/*Location*/
.location {
  background-image: url("../images/img-locations-background.jpg");
  height:500px;
  width: 1200px;
  background-position: center;
  position: relative;
  top: 180px;
  display: flex;
  justify-content: center;
}
.location h2 {
  display: block;
  background-color: transparent;
  top: 50px;
}
.location_box {

}
